## Workflow

# Write code to discover the extent of the puzzling behavior, creating and modifying pairs of variables with different types in Python.
-Include variable types like int, float, str, list, tuple, and dict.
-Create one variable, then create a second variable that is equal to the first.
-Change one of the two variables and see what happens. If the type allows it, try changing both the contents (an element in a list or dictionary) as well as setting it equal to a new object.
-State your understanding of the ways Python variables behave.

# Deliverable

Submit the code you wrote for Milestone 1 below (a Jupyter notebook or the contents of your shell session). To cover all of the variable types (int, float, str, list, tuple, and dict), you should have eight or nine sets of variables.

-Write code to discover the extent of the puzzling behavior, creating and modifying pairs of variables with different types in Python.
-Include variable types like int, float, str, list, tuple, and dict.
=Create one variable, then create a second variable that is equal to the first.
-Change one of the two variables and see what happens. If the type allows it, try changing both the contents (an element in a list or dictionary) as well as setting it equal to a new object.
-Upload a link to your deliverable in the Submit Your Work section and click submit. After submitting, the Authorâ€™s solution and peer solutions will appear on the page for you to examine.

## IMMUTABLE OBJECTS

In [4]:
#Compare variable change for int

a = 50
b = a
b = 25
c = b

print(f"The value of a, b, and c is {a}, {b},and {c}")

The value of a, b, and c is 50, 25,and 25

In [5]:
#Compare variable change for int

a = 50
b =a
b = 25
c = 40

print(f"The value of a, b, and c is {a}, {b},and {c}")

The value of a, b, and c is 50, 25,and 40

In [6]:
#Compare variable change for float

a = 5.0
b = 4.5
c = b
b = 5.6

print(f"The value of a, b, and c is {a}, {b}, and {c}")

The value of a, b, and c is 5.0, 5.6, and 4.5

In [7]:
#Compare variable change for string

a = "Three"
b = a
b = "Four"

print(f"The value of a and b is {a} and {b}.")

The value of a and b is Three and Four.

In [8]:
#Compare variable change for tuple

a = (2,4,6)
b = a
b = (8,9,12)
b[1] = 10

print(f"The value of a and b is {a} and {b}.")

TypeError: 'tuple' object does not support item assignment

## MUTABLE OBJECTS

In [9]:
#Compare variable change for list

a = [1,3,5]
b = a
b = [7,10,11]
b[1] = 9

print(f"The value of a and b is {a} and {b}.")

The value of a and b is [1, 3, 5] and [7, 9, 11].

In [10]:
#Compare variable change for dict

a = {1: "Apple", 2:"Banana", 3:"Cherry"}
b = a
a[2] = "Blueberries"

print(f"The value of a is {a} and the value of b is {b}.")

The value of a is {1: 'Apple', 2: 'Blueberries', 3: 'Cherry'} and the value of b is {1: 'Apple', 2: 'Blueberries', 3: 'Cherry'}.